<div
  class="popup-filter"
  (click)="onCheckBoxClick($event)"
  [style.top]="params.top + 'px'"
  [style.left]="params.left + 'px'"
>
  <input
    class="text"
    type="text"
    [formControl]="searchControl"
    placeholder="Найти..."
  />

  <form [formGroup]="checkBoxFormGroup">
    <div
      *ngFor="
        let control of checkBoxFormGroup.controls[columnName].controls;
        let i = index
      "
    >
      <label
        class="checkbox"
        [formArrayName]="columnName"
        *ngIf="!params.columnFilterData[i]?.hide"
      >
        <input type="checkbox" [formControlName]="i" />
        {{ params.columnFilterData[i]?.name }}
      </label>
    </div>
  </form>
</div>
