<Table class="table">
  <th *ngFor="let column of headers">
    {{ column }}
  </th>
  <tr *ngIf="(currCountState$ | async) || {} as currCountState">
    <td
      [attr.column]="column"
      *ngFor="let column of headers"
      (click)="showPopupFilter($event)"
    >
    {{ currCountState[column] ? "Выбрано: " + currCountState[column] : "Фильтр" }}
    </td>
  </tr>
  <ng-container *ngFor="let row of rows; let i = index">
    <tr *ngIf="!hiddenRows[i]">
      <td *ngFor="let column of headers">
        {{ row[column] }}
      </td>
    </tr>
  </ng-container>
</Table>
